// Specific CSS for your home
body {
  background-color: #FB502A;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 20px;
  letter-spacing: 0.7px;
}

h3 {
  line-height: 0.4;
}

a, a:hover, a:active, a:visited{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.7px;
}

.logo {
  height: 150px;
}

// HEADER

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
}

.header-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-link {
  a {
    font-size: 13px;
  }
}

// BANNER

// .banner {
//   position: absolute;
//   width: 100%;
// }

.box {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.date {
  position: absolute;
  bottom: 70%;
  left: 30%;
}

.place {
  position: absolute;
  bottom: 65%;
  left: 25%;
}

.banner-img {
  height: 450px;
  width: 600px;
  display: block;
  margin: 50px auto 25px auto;
  border-radius: 2px;
}

.banner h1 {
  margin: 0;
  font-size: 30px;
  letter-spacing: 0.7px;
}

// IMG SIDE

.img-side {
  height: 425px;
}

.right-img {
  position: absolute;
  right: 0%;
  top: 25%;
  animation: move-in-steps 8s infinite;
}

.left-img {
  position: absolute;
  left: 0%;
  top: 15%;
}

// NAVBAR

.navbar-menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  padding-inline-start: 0px;
}

.nav-link {
  font-family: $headers-font;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.1px;
}

