// Specific CSS for your home
body {
  background-color: #FB502A;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 20px;
  letter-spacing: 0.7px;
}

h3 {
  line-height: 0.4;
}

a, a:hover, a:active, a:visited{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.7px;
}

.logo {
  height: 150px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
}

.header-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-link {
  a {
    font-size: 13px;
  }
}

.banner {
  position: absolute;
  width: 100%;
}

.box {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.date {
  position: relative;
  bottom: -55px;
  left: 70px;
}

.place {
  position: relative;
  bottom: -61px;
  left: -6px;
}

.banner-img {
  height: 450px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
}

.banner h1 {
  margin: 0;
  font-size: 30px;
  letter-spacing: 0.7px;
}
