 <div class="header-container">
  <div class="header-part">
    <h2><a href="#">IT</a>|<a href="#">EN</a></h2>
  </div>

  <div class="header-part">
    <%= link_to root_path do %>
      <%= image_tag "logo_pane_olio.png", class: "logo" %>
    <% end %>
  </div>

  <div class="header-part">
    <h3 class="header-link"><a href="#">Find the event on Facebook</a></h3>
    <h3 class="header-link"><a href="#">Follow us on Instagram</a></h3>
    <h3 class="header-link"><a href="#">Become a Volunteer</a></h3>
  </div>
</div>
