<div class="container">
  <h1>Info</h1>
  <div class="example1">
    <h2> Coming Soon ... </h2>
  </div>
  <img src="https://images.unsplash.com/photo-1566125898959-f1e5b62dc84b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80" alt="waves">
</div>
