.category-grid {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
  align-content: stretch;
}

.category-card {
  margin: auto;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 250px;
  border-radius: 1px;
  margin: 50px 50px;
  position: relative;
}

.category-card > h1 {
  position: absolute;
  top: -18px;
  left: 10px;
  width: 100%;
  font-size: 2rem;
}

@media(max-width: 1024px) {
  .img-side {
    display: none;
  }
}

@media(max-width: 768px) {
  .category-grid {
    width: 50%;
  }
}
